<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raster Info</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    <h1>Raster Information</h1>
    
    <div class="content-wrapper">
        <p><strong>Bornes :</strong></p>
        <ul>
            <li><strong>Left:</strong> {{ bounds.left }}</li>
            <li><strong>Bottom:</strong> {{ bounds.bottom }}</li>
            <li><strong>Right:</strong> {{ bounds.right }}</li>
            <li><strong>Top:</strong> {{ bounds.top }}</li>
        </ul>
    </div>
    <div class="map-link">
        <a href="/map/">
            <button class="view-map-btn">Voir sur la Map</button>
        </a>
    </div>
</body>
</html>
